EXPO_PUBLIC_APP_IOS_BUNDLE_IDENTIFIER=com.spendwise.app
EXPO_PUBLIC_APP_ANDROID_PACKAGE=com.spendwise.app
EXPO_PUBLIC_GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.REPLACE_ME
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=REPLACE_ME.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=REPLACE_ME.apps.googleusercontent.com
